<?xml version="1.0"?>
<!--
/**
 * @package     Dadolun_SibOrderSync
 * @copyright   Copyright (c) 2023 Dadolun (https://www.dadolun.com)
 * @license    This code is licensed under MIT license (see LICENSE for details)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="dadolun_sib_order_update" instance="Dadolun\SibOrderSync\Observer\OrderUpdate"/>
    </event>
    <event name="sales_quote_save_after">
        <observer name="dadolun_sib_quote_update" instance="Dadolun\SibOrderSync\Observer\QuoteUpdate" />
    </event>
</config>



