<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_add_item">
        <observer name="sib_tracking_created_cart" instance="Dadolun\SibOrderSync\Observer\Tracking\CreatedCart" />
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="sib_tracking_updated_cart" instance="Dadolun\SibOrderSync\Observer\Tracking\CreatedCart" />
    </event>
    <event name="sales_quote_remove_item">
        <observer name="sib_tracking_deleted_cart" instance="Dadolun\SibOrderSync\Observer\Tracking\DeletedCart" />
    </event>
    <event name="sales_order_place_after">
        <observer name="sib_tracking_order_completed" instance="Dadolun\SibOrderSync\Observer\Tracking\OrderCompleted" />
    </event>
</config>
