<?xml version="1.0"?>
<!--
/**
 * @category    Magento 2
 * @package     Dadolun_SibOrderSync
 * @copyright   Copyright (c) 2021 Dadolun (https://github.com/dadolun95)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="sibordersync" frontName="sibordersync">
            <module name="Dadolun_SibOrderSync" />
        </route>
    </router>
</config>
